name: Java CI

on:
  push:
    paths-ignore:
      - "**.md"
  pull_request:
    paths-ignore:
      - '**.md'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: "17"
          distribution: "temurin"
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
      - name: Fix gradlew permission
        run: chmod +x ./gradlew
      - name: Run build with Gradle Wrapper
        run: ./gradlew build